.entry {
    padding: 16px;
    background-color: lightgray;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin: 10px 0;
    height: calc(100% - 20px);
    display: flex;
    flex-flow: column nowrap;
    &__heading {
        display: flex;
    }
    &__title {
        font-weight: 600;
        padding-right: 8px;
        flex: 1 0 65%;
    }
    &__thumbnail {
        top: 10px;
        right: 10px;
        flex: 0 0 30%;
        max-height: 80px;
        overflow: hidden;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__detailsLink {
        margin-top: auto;
        margin-bottom: 0;
    }
}
