.entry {
    padding: 16px;
    background-color: #f3f3f3;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin: 10px 0;
    height: calc(100% - 20px);
    display: flex;
    flex-flow: column nowrap;
    &__heading {
        display: flex;
        font-size: 18px;
    }
    &__title {
        font-weight: 600;
        padding-right: 8px;
        flex: 1 0 65%;
    }
    &__thumbnail {
        top: 10px;
        right: 10px;
        flex: 0 0 30%;
        height: 80px;
        overflow: hidden;
        text-align: right;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__links {
        margin-top: 30px;
    }
    &__link {
        margin-bottom: 0;
        color: #007bff;
        a:hover {
            text-decoration: underline;
            color: #0056b3;
        }
    }
}
